<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Valby Athletes</title>  
    </head>

    <h1>This is the Log in page</h1>

    <form action="/logIn" method="get">

        <div>
            <label for="email">Email:</label>
            <input name="email" id="email" type="email" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input name="password" id="password" type="password" required>
        </div>

        <button type="submit">Log in</button>
    </form>

    <div th:if="${WrongInput}">Wrong input</div>

</html>